* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  outline: none;
  color: inherit;
  background: none;
}

body {
  margin: 0;
  background-color: #ebebeb;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

.wrapper-maintenance {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 154, 60, 0.9);
}

.wrapper-maintenance .message {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
  font-weight: 400;
}

.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 200ms linear 150ms;
  transition: opacity 200ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8em;
  max-width: 1800px;
  margin: 0 auto;
}

.navbar-wrapper .logo {
  width: 6em;
}

.navbar-wrapper .phoneNburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-wrapper .phoneNburger .phoneNumber {
  padding-right: 0.5em;
  font-size: 1.1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar-wrapper .phoneNburger .burgerMenu {
  width: 3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 0 auto;
  padding: 1em;
  max-width: 1800px;
}

.hero-wrapper .main-text {
  margin-top: 2em;
  font-size: 3em;
  font-weight: 600;
}

.hero-wrapper .square-text {
  right: 0em;
}

.hero-wrapper .square-text .rectangle-text {
  text-align: right;
  margin-top: 1.5em;
  margin-right: 0.2em;
  font-weight: 500;
  font-size: 1em;
}

.hero-wrapper .square-text .rectangle {
  max-width: 10em;
  min-width: 11.2em;
  height: 5em;
  border: 2px solid #155263;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: -1;
}

.hero-wrapper .shape1-wrapper {
  z-index: -1;
  top: -7em;
  position: absolute;
  width: 40vw;
  max-width: 20em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper .shape2-wrapper {
  position: absolute;
  z-index: -1;
  width: 50vw;
  max-width: 22em;
  top: 2em;
  right: -1em;
  z-index: -5;
}

.hero-wrapper .shape3-wrapper {
  position: absolute;
  z-index: -1;
  width: 60vw;
  max-width: 20em;
  top: 7em;
  left: -1em;
}

.footer-wrapper {
  background: linear-gradient(100.96deg, #155263 12.3%, #23849f 97.18%);
  bottom: 0;
  max-width: 1800px;
  margin: 0 auto;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrapper .top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrapper .top-container .logo {
  min-width: 8em;
  max-width: 15em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-wrapper .top-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.6em;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer-wrapper .top-container ul a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  padding: 0.6em;
  font-size: 20px;
  border-left: 2px black;
}

.footer-wrapper .top-container ul .currentPage {
  font-weight: 500;
  pointer-events: none;
  cursor: default;
}

.footer-wrapper .top-container .social-media-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer-wrapper .top-container .social-media-logos .facebook {
  width: 8em;
  margin-right: 1em;
}

.footer-wrapper .top-container .social-media-logos .instagram {
  width: 7.8em;
}

.footer-wrapper .copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 100;
  font-size: 0.6em;
}

.rectangle-container {
  position: relative;
  width: 90%;
  height: auto;
  display: block;
  margin-bottom: 18em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.rectangle-container .info-rectangle {
  background-color: white;
  -webkit-box-shadow: 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.22);
          box-shadow: 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.22);
  padding: 1em 1em 1.5em;
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rectangle-container .info-rectangle .left-side,
.rectangle-container .info-rectangle .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* BACKGROUND TRANSITIONS */
  /* Fade */
}

.rectangle-container .info-rectangle .left-side h3,
.rectangle-container .info-rectangle .right-side h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  margin: 0.5em;
}

.rectangle-container .info-rectangle .left-side h1,
.rectangle-container .info-rectangle .right-side h1 {
  margin: 0;
  font-weight: 500;
  font-size: 0.9em;
}

.rectangle-container .info-rectangle .left-side a,
.rectangle-container .info-rectangle .right-side a {
  text-decoration: none;
  color: black;
}

.rectangle-container .info-rectangle .left-side button,
.rectangle-container .info-rectangle .right-side button {
  background-color: #ff9431;
  border-radius: 20px;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  width: 12em;
  height: 2.5em;
  letter-spacing: 0.05em;
  margin-top: 1em;
  text-align: center;
}

.rectangle-container .info-rectangle .left-side .hvr-fade,
.rectangle-container .info-rectangle .right-side .hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.rectangle-container .info-rectangle .left-side .hvr-fade:hover,
.rectangle-container .info-rectangle .left-side .hvr-fade:focus,
.rectangle-container .info-rectangle .left-side .hvr-fade:active,
.rectangle-container .info-rectangle .right-side .hvr-fade:hover,
.rectangle-container .info-rectangle .right-side .hvr-fade:focus,
.rectangle-container .info-rectangle .right-side .hvr-fade:active {
  background-color: #dd8029;
  color: black;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.rectangle-container .info-rectangle .bottom-blue-rectangle {
  position: absolute;
  background: linear-gradient(268.47deg, #155263 7.1%, #23839e 58.62%);
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  top: 1em;
  left: 0.7em;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.Navigation {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 154, 60, 0.9);
}

.Navigation .wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  max-width: 1800px;
  margin: 0 auto;
}

.Navigation .wrapper-top .logo {
  width: 6em;
}

.Navigation .wrapper-top .x-icon {
  width: 3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.Navigation .wrapper-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 70vh;
}

.Navigation .wrapper-bottom ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navigation .wrapper-bottom ul li {
  margin: 1.5em;
  text-align: center;
}

.Navigation .wrapper-bottom ul li a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: 1.5em;
}

.why-wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why-wrapper span {
  color: #FF9431;
}

.why-wrapper .rectangle-container {
  position: relative;
  width: 90%;
  height: auto;
  display: block;
  margin-bottom: 2em;
}

.why-wrapper .top-white-rectangle {
  background-color: white;
  -webkit-box-shadow: 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.22);
          box-shadow: 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.22);
  padding: 1em;
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: block;
  top: 0;
  left: 0;
}

.why-wrapper .top-white-rectangle h2 {
  font-weight: 500;
}

.why-wrapper .top-white-rectangle p {
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}

.why-wrapper .top-white-rectangle .bottom-blue-rectangle {
  position: absolute;
  background: linear-gradient(268.47deg, #155263 7.1%, #23839e 58.62%);
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  top: 2em;
  left: 2em;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.why-wrapper .computer-girls-img {
  width: 20em;
  margin-top: 1.5em;
}

.barWrapper {
  font-weight: 600;
  max-width: 1800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffbe55;
  padding: 2em;
  /* BACKGROUND TRANSITIONS */
  /* Fade */
}

.barWrapper b {
  color: white;
}

.barWrapper .rightSide a {
  color: black;
}

.barWrapper .content .title {
  text-align: center;
  font-size: 1.5em;
  margin: 1em;
}

.barWrapper .content .insideContent {
  text-align: center;
}

.barWrapper .content .insideContent p {
  text-align: left;
  line-height: 1.5em;
  font-weight: 400;
}

.barWrapper button {
  background-color: #ff9431;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  width: 100%;
  letter-spacing: 0.05em;
  height: 2.5em;
  margin-top: 1em;
  text-align: center;
  cursor: pointer;
  margin-bottom: 2em;
}

.barWrapper .hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.barWrapper .hvr-fade:hover,
.barWrapper .hvr-fade:focus,
.barWrapper .hvr-fade:active {
  background-color: #dd8029;
  color: black;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.Services-wrapper {
  max-width: 1800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  padding-top: 2em;
}

.Services-wrapper h2 {
  font-size: 2.2em;
  margin: 0;
}

.Services-wrapper span {
  color: #FF9431;
}

.Services-wrapper p {
  text-align: center;
  line-height: 1.5em;
}

.Services-wrapper .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Services-wrapper .Box-border {
  text-align: -webkit-center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
  max-width: 24em;
  position: relative;
  padding: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  background: #ebebeb;
  background-clip: padding-box;
  /* !importante */
  border: solid 2px transparent;
  /* !importante */
  border-radius: 1em;
}

.Services-wrapper .Box-border:hover {
  background: #FEAD62;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
}

.Services-wrapper .Box-border:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  /* !importante */
  border-radius: inherit;
  /* !importante */
  background: -webkit-gradient(linear, left top, left bottom, from(#FEAD62), to(#FEDE44));
  background: linear-gradient(180deg, #FEAD62, #FEDE44);
}

.Services-wrapper .Box-border img {
  padding: 1em;
}

.Services-wrapper .Box-border .icon-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  overflow: hidden;
  border: solid 2px #FEAD62;
  background-color: #ebebeb;
}

.skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.skills-wrapper h3 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
}

.skills-wrapper .webdesign-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-wrapper .webdesign-skill .pcguy {
  width: 24em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.skills-wrapper .webdesign-skill h2 {
  text-align: center;
  margin-top: 0;
}

.skills-wrapper .uiux-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-wrapper .uiux-skill .girlOnPc {
  width: 20em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.skills-wrapper .uiux-skill h2 {
  text-align: center;
}

.skills-wrapper .seo-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-wrapper .seo-skill .guySEO {
  width: 24em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.skills-wrapper .seo-skill h2 {
  text-align: center;
}

.testimonials-wrapper {
  background-color: #ffbe55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1800px;
  margin: 0 auto;
  padding: 1em;
}

.testimonials-wrapper .open-quote,
.testimonials-wrapper .closing-quote {
  width: 1em;
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  text-align: center;
  color: rgba(0, 0, 0, 0.53);
}

.testimonials-wrapper .closing-quote {
  margin-top: 0.5em;
}

.testimonials-wrapper .testimonial-section {
  margin: 1em;
}

.testimonials-wrapper .testimonial {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
}

.testimonials-wrapper .author {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.testimonials-wrapper .company {
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 12px;
}

.Contact-wrapper {
  max-width: 1800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  padding-top: 2em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Contact-wrapper .coffee-guys {
  width: 20em;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.information-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1800px;
  margin: 0 auto;
  padding: 1em;
}

.information-wrapper .coffee-guys {
  width: 20em;
  margin-left: -1em;
}

.information-wrapper .rectangle-container {
  position: relative;
  width: 90%;
  height: auto;
  display: block;
  margin-bottom: 25em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.WhoWeAre .wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.WhoWeAre .wrapper .table-team {
  width: 20em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.WhoWeAre .wrapper .text-section {
  text-align: center;
}

.banner-wrapper {
  max-width: 1800px;
  margin: 0 auto;
  background: rgba(255, 148, 49, 0.62);
  padding: 2em;
}

.banner-wrapper .text {
  text-align: center;
  font-size: 1.2em;
}

.Websites-wrapper {
  max-width: 1800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolioItem-wrapper {
  max-width: 1800px;
  margin: 1em;
}

.portfolioItem-wrapper img {
  border-radius: 30px;
  width: 100%;
}

.CompanyInfo-wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CompanyInfo-wrapper .conversation-wrapper {
  width: 20em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form-wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

.form-wrapper .glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #FF9431;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.form-wrapper .glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #FF9431, #ff0000, #ff7300, #FF9431, #ff7300, #ff7300, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.form-wrapper .glow-on-hover:active {
  color: #FF9431;
}

.form-wrapper .glow-on-hover:active:after {
  background: transparent;
}

.form-wrapper .glow-on-hover:hover:before {
  opacity: 1;
}

.form-wrapper .glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #c26c1c;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.form-wrapper .form-box {
  background-color: #e4e2e2;
  border: 1px solid #b3b3b3;
  border-radius: 20px;
}

.form-wrapper .form-box .left-inside {
  background-color: #ff9431;
  border-radius: 20px 20px 0px 0px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.form-wrapper .form-box .left-inside .triangle-separator {
  width: 4em;
  position: absolute;
  top: 7em;
  right: 2em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.form-wrapper .form-box .left-inside .under-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5em;
}

.form-wrapper .form-box .left-inside .icon-wrapper {
  width: 5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form-wrapper .form-box .right-inside {
  padding: 1em;
  /* Shadow */
}

.form-wrapper .form-box .right-inside h2 {
  font-weight: 300;
}

.form-wrapper .form-box .right-inside textarea,
.form-wrapper .form-box .right-inside input {
  background-color: #d7d7d7;
  border: 1px solid #b7b7b7;
  border-radius: 20px;
  text-align: left;
  width: 100%;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.form-wrapper .form-box .right-inside .input-nameemail {
  width: 90%;
  height: 2em;
}

.form-wrapper .form-box .right-inside .message-input {
  width: 100%;
  height: 6em;
}

.form-wrapper .form-box .right-inside .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper .form-box .right-inside button {
  background: linear-gradient(92.93deg, #ff9431 42.4%, #ffe33b 91.88%);
  border-radius: 10px;
  width: 100%;
  height: 2em;
  font-size: 2em;
  margin-top: 1em;
}

.form-wrapper .form-box .right-inside .hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}

.form-wrapper .form-box .right-inside .hvr-shadow:hover,
.form-wrapper .form-box .right-inside .hvr-shadow:focus,
.form-wrapper .form-box .right-inside .hvr-shadow:active {
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(92.93deg, #d67d29 42.4%, #d6bd30 91.88%);
}

.rectangle-container .info-rectangle .left-side .hvr-fade,
.rectangle-container .info-rectangle .right-side .hvr-fade,
.form-wrapper .form-box .right-inside .hvr-shadow {
  cursor: pointer;
}

@media (min-width: 650px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 800px) {
  .why-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Services-wrapper .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .barWrapper {
    padding: 2em;
  }
  .barWrapper .content .insideContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .barWrapper .content .leftSide {
    width: 30%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .barWrapper .content .rightSide {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .rectangle-container {
    width: 60%;
  }
  .computer-girls-img {
    width: 20em;
    margin-left: 5em;
  }
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills .webdesign-skill {
    width: 20em;
  }
  .skills .girlOnPc {
    width: 18em;
  }
  .skills .guySEO {
    width: 20em;
  }
  .footer-wrapper .top-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .footer-wrapper .top-container .social-media-logos .facebook {
    width: 2em;
  }
  .footer-wrapper .top-container .social-media-logos .instagram {
    width: 1.95em;
  }
  .footer-wrapper .top-container ul {
    margin: 0.6em;
  }
  .footer-wrapper .copyright {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: auto;
  }
  .WhoWeAre .wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .WhoWeAre .wrapper .table-team {
    width: 80em;
  }
  .WhoWeAre .wrapper .text-section {
    margin-left: 1em;
    text-align: left;
  }
  .CompanyInfo-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .CompanyInfo-wrapper .conversation-wrapper {
    width: 20em;
    margin-left: 1em;
  }
  .Websites-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolioItem-wrapper {
    max-width: 1200px;
    width: 45%;
  }
  .portfolioItem-wrapper img {
    padding: 1em;
    border-radius: 30px;
  }
  .form-wrapper .form-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form-wrapper .form-box .left-inside {
    padding-left: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
    border-radius: 20px 0px 0px 20px;
  }
  .form-wrapper .form-box .left-inside .triangle-separator {
    position: absolute;
    top: 1em;
    right: -3em;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .form-wrapper .form-box .left-inside .under-icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5em;
  }
  .form-wrapper .form-box .left-inside .icon-wrapper {
    width: 5em;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .form-wrapper .form-box .right-inside {
    margin: 1.5em 3.5em 3.5em 3.5em;
    padding: 0;
    width: 60%;
  }
  .form-wrapper .form-box .right-inside h2 {
    font-weight: 300;
  }
  .form-wrapper .form-box .right-inside textarea {
    background-color: #d7d7d7;
    border: 1px solid #b7b7b7;
    border-radius: 20px;
    text-align: left;
  }
  .form-wrapper .form-box .right-inside .message-input {
    width: 95%;
    height: 10em;
  }
  .form-wrapper .form-box .right-inside .name-email {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form-wrapper .form-box .right-inside .name-email textarea {
    height: 4em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
  }
  .form-wrapper .form-box .right-inside .name-email .name {
    width: 50%;
  }
  .form-wrapper .form-box .right-inside .name-email .email {
    width: 50%;
  }
  .form-wrapper .form-box .right-inside .button-wrapper {
    text-align: center;
  }
  .form-wrapper .form-box .right-inside button {
    width: 40%;
  }
}

@media (min-width: 820px) {
  .information-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .information-wrapper .rectangle-container {
    margin-bottom: 0em;
    margin-left: 2em;
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
  }
  .information-wrapper .info-rectangle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  .hero-wrapper .square-text .rectangle-text,
  .navbar-wrapper .phoneNburger .phoneNumber {
    font-size: 0.9em;
  }
  .why-wrapper .top-white-rectangle .bottom-blue-rectangle {
    left: 1em;
  }
  .why-wrapper .computer-girls-img {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .footer-wrapper .top-container ul a {
    font-size: 17px;
  }
  .form-wrapper .form-box .left-inside .under-icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-wrapper .form-box .left-inside .triangle-separator {
    top: 11em;
  }
  .hero-wrapper .main-text {
    font-size: 2em;
  }
}

@media (min-width: 640px) and (max-device-width: 360px) {
  .form-wrapper .form-box .left-inside .triangle-separator {
    top: 1em;
  }
}
/*# sourceMappingURL=App.css.map */