* {
  box-sizing: border-box;
}

$widthPage: 1800px;
$color-orange: #FF9931;

button {
  padding: 0;
  border: none;
  outline: none;
  color: inherit;
  background: none;
}

body {
  margin: 0;
  background-color: rgb(235, 235, 235);
  font-family: "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

//maintenance page
.wrapper-maintenance {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 154, 60, 0.9);

  .message {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 400;
  }
}

//animations
.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

// Common Components (Multi-use)
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  max-width: $widthPage;
  margin: 0 auto;

  .logo {
    width: 6em;
  }

  .phoneNburger {
    display: flex;

    .phoneNumber {
      padding-right: 0.5em;
      font-size: 1.1em;
      align-self: center;
    }

    .burgerMenu {
      width: 3em;
      align-self: center;
    }
  }
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  padding: 1em;
  max-width: $widthPage;

  .main-text {
    margin-top: 2em;
    font-size: 3em;
    font-weight: 600;
  }

  .square-text {
    right: 0em;

    .rectangle-text {
      text-align: right;
      margin-top: 1.5em;
      margin-right: 0.2em;
      font-weight: 500;
      font-size: 1em;
    }

    .rectangle {
      max-width: 10em;
      min-width: 11.2em;
      height: 5em;
      border: 2px solid #155263;
      position: absolute;
      top: 1em;
      right: 1em;
      z-index: -1;
    }
  }

  .shape1-wrapper {
    z-index: -1;
    top: -7em;
    // Center absolute item on page
    position: absolute;
    width: 40vw;
    max-width: 20em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .shape2-wrapper {
    position: absolute;
    z-index: -1;
    width: 50vw;
    max-width: 22em;
    top: 2em;
    right: -1em;
    z-index: -5;
  }

  .shape3-wrapper {
    position: absolute;
    z-index: -1;
    width: 60vw;
    max-width: 20em;
    top: 7em;
    left: -1em;
  }
}

.footer-wrapper {
  background: #1A6479;
  bottom: 0;
  max-width: $widthPage;
  margin: 0 auto;
  padding: 1em;
  padding-top: 2em;
  display: flex;
  flex-direction: column;

  .social-media-logos {
    display: flex;
    align-self: center;
    width: 15em;
    justify-content: space-between;
  }

  .linkstopages {
    display: flex;
    align-self: center;
    margin-top: 0.5em;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      margin: 0.6em;
      align-self: center;

      a {
        text-decoration: none;
        color: black;
        font-weight: 400;
        padding: 0.6em;
        font-size: 18px;
        border-left: 2px black;
        letter-spacing: 0.03em;
        font-style: normal;
        font-weight: 500;
      }

      .currentPage {
        font-weight: 600;
        pointer-events: none;
        color: white;
        cursor: default;
      }

    }

  }

  .copyright {
    display: flex;
    align-self: center;
    color: white;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
  }
}

.rectangle-container {
  position: relative;
  width: 90%;
  height: auto;
  display: block;
  margin-bottom: 18em;
  align-self: center;

  .info-rectangle {
    background-color: white;
    box-shadow: 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.22);
    padding: 1em 1em 1.5em;
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    .left-side,
    .right-side {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;

      h3 {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        margin: 0.5em;
      }

      h1 {
        margin: 0;
        font-weight: 500;
        font-size: 0.9em;
      }

      a {
        text-decoration: none;
        color: black;
      }

      button {
        background-color: #ff9431;
        border-radius: 20px;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
        width: 12em;
        height: 2.5em;
        letter-spacing: 0.05em;
        margin-top: 1em;
        text-align: center;
      }

      /* BACKGROUND TRANSITIONS */
      /* Fade */
      .hvr-fade {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
      }

      .hvr-fade:hover,
      .hvr-fade:focus,
      .hvr-fade:active {
        background-color: #dd8029;
        color: rgb(0, 0, 0);
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
      }
    }

    .bottom-blue-rectangle {
      position: absolute;
      background: linear-gradient(268.47deg, #155263 7.1%, #23839e 58.62%);
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.24);
      border-radius: 20px;
      top: 1em;
      left: 0.7em;
      width: 100%;
      height: 100%;
      z-index: -5;
    }
  }
}

//Navigation
.Navigation {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 154, 60, 0.9);

  .wrapper-top {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    max-width: $widthPage;
    margin: 0 auto;

    .logo {
      width: 6em;
    }

    .x-icon {
      width: 3em;
      align-self: center;
    }
  }

  .wrapper-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 70vh;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 1.5em;
        text-align: center;

        a {
          text-decoration: none;
          color: black;
          font-weight: 300;
          font-size: 1.5em;
        }
      }
    }
  }
}

// Home Components
.why-wrapper {
  max-width: $widthPage;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;

  span {
    color: #FF9431;
  }

  #imagemain {
    align-self: center;
  }

  // Rectangles on top of each other
  .rectangle-container {
    position: relative;
    width: 90%;
    height: auto;
    display: block;
    margin-bottom: 2em;
  }

  .top-white-rectangle {
    background-color: white;
    box-shadow: 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.22);
    padding: 1em;
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: block;
    top: 0;
    left: 0;

    h2 {
      font-weight: 500;
    }

    p {
      font-weight: 400;
      font-style: normal;
      line-height: 1.5em;
    }

    .bottom-blue-rectangle {
      position: absolute;
      background: linear-gradient(268.47deg, #155263 7.1%, #23839e 58.62%);
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.24);
      border-radius: 20px;
      top: 2em;
      left: 2em;
      width: 100%;
      height: 100%;
      z-index: -5;
    }
  }

  .computer-girls-img {
    width: 20em;
    margin-top: 1.5em;
  }
}

.barWrapper {
  b {
    color: white;
  }

  font-weight: 600;
  display: flex;
  flex-direction: column;
  background-color: #ffbe55;
  padding: 2em;

  .width-wrapper {
    max-width: $widthPage;
  }


  .rightSide {
    a {
      color: black;
    }
  }

  .content {
    .title {
      text-align: center;
      font-size: 1.5em;
      margin: 1em;
    }

    .insideContent {
      text-align: center;

      p {
        text-align: left;
        line-height: 1.5em;
        font-weight: 400;
      }
    }
  }

  button {
    background-color: #ff9431;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    width: 100%;
    letter-spacing: 0.05em;
    height: 2.5em;
    margin-top: 1em;
    text-align: center;
    cursor: pointer;
    margin-bottom: 2em;
  }

  /* BACKGROUND TRANSITIONS */
  /* Fade */
  .hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }

  .hvr-fade:hover,
  .hvr-fade:focus,
  .hvr-fade:active {
    background-color: #dd8029;
    color: rgb(0, 0, 0);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  }
}

.Services-wrapper {
  h2 {
    font-size: 2.2em;
    margin: 0;
  }

  span {
    color: #FF9431;
  }

  ul {
    text-align: left;
  }

  max-width: $widthPage;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  padding-top: 2em;

  p {
    text-align: center;
    line-height: 1.5em;
    font-size: .9em;
  }

  .main-p {
    font-size: 1em;
  }

  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .Box-border {
    text-align: -webkit-center;
    flex-grow: 1;
    //border gradiant
    display: flex;
    align-items: center;
    margin: 1em;
    max-width: 24em;

    position: relative;
    padding: 2em;
    box-sizing: border-box;

    $border: 2px;
    color: rgb(0, 0, 0);
    background: rgb(235, 235, 235);
    background-clip: padding-box;
    /* !importante */
    border: solid $border transparent;
    /* !importante */
    border-radius: 1em;

    &:hover {
      background: #FEAD62;
      transition: 0.8s;
      filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      /* !importante */
      border-radius: inherit;
      /* !importante */
      background: linear-gradient(180deg, #FEAD62, #FEDE44);
    }

    img {
      padding: 1em;
    }

    //circle 
    .icon-circle {
      display: flex;
      width: 6em;
      height: 6em;
      border-radius: 50%;
      overflow: hidden;
      border: solid 2px #FEAD62;
      background-color: rgb(235, 235, 235);
    }
  }
}

// not in use
.skills-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;

  h3 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
  }

  .webdesign-skill {
    display: flex;
    flex-direction: column;

    .pcguy {
      width: 24em;
      align-self: center;
    }

    h2 {
      text-align: center;
      margin-top: 0;
    }
  }

  .uiux-skill {
    display: flex;
    flex-direction: column;

    .girlOnPc {
      width: 20em;
      align-self: center;
    }

    h2 {
      text-align: center;
    }
  }

  .seo-skill {
    display: flex;
    flex-direction: column;

    .guySEO {
      width: 24em;
      align-self: center;
    }

    h2 {
      text-align: center;
    }
  }
}

.testimonials-wrapper {
  background-color: #ffbe55;
  display: flex;
  max-width: $widthPage;
  margin: 0 auto;
  padding: 1em;

  .open-quote,
  .closing-quote {
    width: 1em;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    text-align: center;

    color: rgba(0, 0, 0, 0.53);
  }

  .closing-quote {
    margin-top: 0.5em;
  }

  .testimonial-section {
    margin: 1em;
  }

  .testimonial {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2em;
    text-align: center;
  }

  .author {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }

  .company {
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 12px;
  }
}

.Contact-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  justify-content: space-between;


  .left-wrapper {
    h2 {
      font-size: 2.2em;
      margin: 0;
    }

    span {
      color: #FF9431;
    }

    p {
      font-weight: 400;
      font-style: normal;
      line-height: 1.5em;
    }

    textarea {
      resize: none;
    }


    $primary: #FF9431;
    $secondary: #9c4c00;
    $white: rgb(0, 0, 0);
    $gray: #858585;

    .form__group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
    }

    .form__field {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 2px solid $gray;
      outline: 0;
      font-size: 1.3rem;
      color: $white;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
      }
    }

    .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $gray;
    }

    .form__field:focus {
      ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
      }

      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, $primary, $secondary);
      border-image-slice: 1;
    }

    /* reset input */
    .form__field {

      &:required,
      &:invalid {
        box-shadow: none;
      }
    }

    // button colors
    .glow-on-hover {
      color: #fff;
      background: $primary;
      position: relative;
      z-index: 0;
      border-radius: 20px;
      font-weight: bold;
      font-size: 20px;
      font-family: Montserrat;
      font-style: normal;
      width: 100%;
      letter-spacing: 0.05em;
      height: 2.5em;
      margin-top: 1em;
      text-align: center;
      cursor: pointer;
      margin-bottom: 2em;
    }

    .glow-on-hover:before {
      content: '';
      background: linear-gradient(45deg, #FFC93C, #FF9A3C, #FF6F3C);
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
    }

    .glow-on-hover:active {
      color: #333c3f;
    }

    .glow-on-hover:active:after {
      background: transparent;
    }

    .glow-on-hover:hover:before {
      opacity: 1;
    }

    .glow-on-hover:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #282e30;
      left: 0;
      top: 0;
      border-radius: 10px;
    }

    @keyframes glowing {
      0% {
        background-position: 0 0;
      }

      50% {
        background-position: 400% 0;
      }

      100% {
        background-position: 0 0;
      }
    }
  }

  .coffee-guys {
    width: 20em;
    transform: scaleX(-1);
  }
}

.information-wrapper {
  display: flex;
  flex-direction: column;
  max-width: $widthPage;
  margin: 0 auto;
  padding: 1em;

  .coffee-guys {
    width: 20em;
    margin-left: -1em;
  }

  .rectangle-container {
    position: relative;
    width: 90%;
    height: auto;
    display: block;
    margin-bottom: 25em;
    align-self: center;
  }
}

// About Components
.WhoWeAre {
  span {
    color: $color-orange;
  }

  p {
    line-height: 1.5em;
  }

  .wrapper {
    max-width: $widthPage;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;

    .table-team {
      align-self: center;

      img {
        align-self: center;
      }
    }

    .text-section {
      text-align: center;
    }
  }
}

.ApproachBar-wrapper {
  max-width: $widthPage;
  margin: 0 auto;
  padding: 3em 1em 3em 1em;
  display: flex;
  flex-direction: column;
  background-color: #3A7E92;
  align-items: center;
  text-align: center;

  h3 {
    color: #FF9931;
    margin: 0;
    font-weight: 500;
  }

  h2 {
    font-size: 3em;
    margin: 0;
    margin-top: 0.5em;
    font-weight: 600;
  }

  p {
    line-height: 1.5em;
  }
}

.Process-wrapper {
  max-width: $widthPage;
  margin: 0 auto;
  padding: 3em 1em 3em 1em;
  display: flex;
  flex-direction: column;

  span {
    color: $color-orange;
  }

  .element {
    text-align: center;
    h2 {
      text-transform: capitalize;
    }
  }

  p {
    line-height: 1.5em;
  }
}

.Featured-wrapper {
  max-width: $widthPage;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;

  p {
    line-height: 1.5em;
  }

  span {
    color: $color-orange;
  }

  h2 {
    font-size: 3em;
  }

  .image-group {
    display: flex;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    img {
      align-self: center;

    }

    #cuchitos {
      margin-bottom: 3em;
      margin-right: 1em;
    }
  }
}

.GetInTouch-wrapper {
  max-width: $widthPage;
  padding: 5em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .left-side {
    display: flex;
    align-items: flex-end;

    p {
      margin: 0;
    }
  }

  .right-side {
    margin-top: 2em;

    p {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }

  .link2contact {
    a {
      margin: 0;
      font-size: 4em;
      font-weight: 600;
      width: 10em;
      -webkit-text-decoration-color: #FF9931;
      /* Safari */
      text-decoration-color: #FF9931;

      color: #000000;
      text-decoration: none;
      background-image: linear-gradient(#FF9931, #FF9931),
        linear-gradient(#FF9931, #FF9931),
        linear-gradient(#FFC93C, #FFC93C);
      background-size: 20px 5px, 100% 5px, 0 5px;
      background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: background-size 1s linear, background-position 1s linear;
    }

    a:hover {
      cursor: pointer;
      background-size: 20px 5px, 0 5px, 100% 5px;
      background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
    }
  }


}

// Portfolio Components
.banner-wrapper {
  max-width: $widthPage;
  margin: 0 auto;
  background: rgba(255, 148, 49, 0.62);
  padding: 2em;

  .text {
    text-align: center;
    font-size: 1.2em;
  }
}

.Websites-wrapper {
  max-width: $widthPage;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
}

.portfolioItem-wrapper {
  max-width: $widthPage;
  margin: 1em;

  img {
    border-radius: 30px;
    width: 100%;
  }
}

// Contact Components
.CompanyInfo-wrapper {
  max-width: $widthPage;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;

  .conversation-wrapper {
    align-self: center;
  }
}

.form-wrapper {
  max-width: $widthPage;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;




  .form-box {
    background-color: rgb(228, 226, 226);
    border: 1px solid #b3b3b3;
    border-radius: 20px;

    .left-inside {
      background-color: #ff9431;
      border-radius: 20px 20px 0px 0px;
      padding: 1em;
      display: flex;
      flex-direction: row;
      position: relative;

      .triangle-separator {
        width: 4em;
        position: absolute;
        top: 7em;
        right: 2em;
        transform: rotate(90deg);
      }

      .under-icon {
        display: flex;
        flex-direction: row;
        padding: 0.5em;
      }

      .icon-wrapper {
        width: 5em;
        align-self: center;
      }
    }

    .right-inside {
      padding: 1em;

      h2 {
        font-weight: 300;
      }

      textarea,
      input {
        background-color: #d7d7d7;
        border: 1px solid #b7b7b7;
        border-radius: 20px;
        text-align: left;
        width: 100%;
        font-size: 1em;
        font-family: "Montserrat", sans-serif;
      }

      .input-nameemail {
        width: 90%;
        height: 2em;
      }

      .message-input {
        width: 100%;
        height: 6em;
      }

      .name-email {
        display: flex;
        flex-direction: column;
      }

      button {
        background: linear-gradient(92.93deg, #ff9431 42.4%, #ffe33b 91.88%);
        border-radius: 10px;
        width: 100%;
        height: 2em;
        font-size: 2em;
        margin-top: 1em;
      }

      /* Shadow */
      .hvr-shadow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow;
        transition-property: box-shadow;
      }

      .hvr-shadow:hover,
      .hvr-shadow:focus,
      .hvr-shadow:active {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        background: linear-gradient(92.93deg, #d67d29 42.4%, #d6bd30 91.88%);
      }
    }
  }
}

//quick fix on hover buttons
.rectangle-container .info-rectangle .left-side .hvr-fade,
.rectangle-container .info-rectangle .right-side .hvr-fade,
.form-wrapper .form-box .right-inside .hvr-shadow {
  cursor: pointer;
}

// Media
@media (min-width: 650px) {
  body {
    font-size: 18px;
  }

  .footer-wrapper {
    .social-media-logos {
      width: 10em;
    }
  }
}

@media (min-width: 900px) {
  .CompanyInfo-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }



  .barWrapper {
    padding: 2em;

    .content {
      .insideContent {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: -webkit-center;
      }

      .leftSide {
        width: 25%;
        align-content: center;
      }

      .rightSide {
        width: 50%;
        align-self: center;
      }
    }
  }

  .Contact-wrapper {
    flex-direction: row;
  }

}

@media (min-width: 1200px) {
  .why-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1100px) {
  .Featured-wrapper {
    .image-group {
      display: flex;
      flex-direction: row;
      place-content: center;

      #cuchitos {
        margin-bottom: 0em;
        margin-right: 1em;
      }
    }
  }

  .GetInTouch-wrapper {
    display: flex;
    flex-direction: row;

    .right-side {
      margin: 0;
      width: 50%;
    }

    .left-side {
      width: 50%;
      margin-bottom: 1em;
    }
  }
}

@media (min-width: 1000px) {

  .WhoWeAre {
    .wrapper {
      justify-content: space-evenly;
      flex-direction: row;

      .table-team {
        width: 80em;
      }

      .text-section {
        margin-left: 1em;
        text-align: left;
      }
    }
  }

  .Process-wrapper {
    max-width: $widthPage;

    .element {
      display: flex;
      flex-direction: row;
      text-align: left;
    }

    #right {
      flex-direction: row-reverse;
    }

    #center {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}


@media (min-width: 800px) {

  .Services-wrapper {
    .box-container {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  }

  .barWrapper {
    padding: 2em;

    .content {
      .insideContent {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: -webkit-center;
      }

      .leftSide {
        width: 25%;
        align-content: center;
      }

      .rightSide {
        width: 50%;
        align-self: center;
      }
    }
  }

  .rectangle-container {
    width: 60%;
  }

  .computer-girls-img {
    width: 20em;
    margin-left: 5em;
  }

  .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .webdesign-skill {
      width: 20em;
    }

    .girlOnPc {
      width: 18em;
    }

    .guySEO {
      width: 20em;
    }
  }

  // .footer-wrapper {
  //   .top-container {
  //     flex-direction: row;
  //     justify-content: space-between;
  //     position: relative;

  //     .social-media-logos {
  //       .facebook {
  //         width: 2em;
  //       }

  //       .instagram {
  //         width: 1.95em;
  //       }
  //     }

  //     ul {
  //       margin: 0.6em;
  //     }
  //   }

  //   .copyright {
  //     align-self: center;
  //     margin-left: auto;
  //   }
  // }
  .Websites-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolioItem-wrapper {
    max-width: 1200px;
    width: 45%;

    img {
      padding: 1em;
      border-radius: 30px;
    }
  }

  .form-wrapper {
    .form-box {
      display: flex;
      flex-direction: row;

      .left-inside {
        padding-left: 2em;
        flex-direction: column;
        width: 30%;
        border-radius: 20px 0px 0px 20px;

        .triangle-separator {
          position: absolute;
          top: 1em;
          right: -3em;
          transform: rotate(0deg);
        }

        .under-icon {
          flex-direction: column;
          margin-top: 5em;
        }

        .icon-wrapper {
          width: 5em;
          align-self: start;
        }
      }

      .right-inside {
        margin: 1.5em 3.5em 3.5em 3.5em;
        padding: 0;
        width: 60%;

        h2 {
          font-weight: 300;
        }

        textarea {
          background-color: #d7d7d7;
          border: 1px solid #b7b7b7;
          border-radius: 20px;
          text-align: left;
        }

        .message-input {
          width: 95%;
          height: 10em;
        }

        .name-email {
          flex-direction: row;

          textarea {
            height: 4em;
            align-self: center;
            width: 90%;
          }

          .name {
            width: 50%;
          }

          .email {
            width: 50%;
          }
        }

        .button-wrapper {
          text-align: center;
        }

        button {
          width: 40%;
        }
      }
    }
  }
}

@media (min-width: 820px) {
  .information-wrapper {
    flex-direction: row;
    justify-content: space-evenly;

    .rectangle-container {
      margin-bottom: 0em;
      margin-left: 2em;
      align-self: initial;
    }

    .info-rectangle {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

@media (min-width: 320px) and (max-width: 568px) {

  .hero-wrapper .square-text .rectangle-text,
  .navbar-wrapper .phoneNburger .phoneNumber {
    font-size: 0.9em;
  }

  .why-wrapper .top-white-rectangle .bottom-blue-rectangle {
    left: 1em;
  }

  .why-wrapper .computer-girls-img {
    align-self: end;
  }

  .footer-wrapper .top-container ul a {
    font-size: 17px;
  }

  .form-wrapper .form-box .left-inside .under-icon {
    flex-direction: column;
  }

  .form-wrapper .form-box .left-inside .triangle-separator {
    top: 11em;
  }

  .hero-wrapper .main-text {
    font-size: 2em;
  }
}

@media (min-width: 270px) and (max-width: 536px) {
  img {
    max-width: 16em;
    height: auto;
  }
  .GetInTouch-wrapper {
    padding: 2em;
  }
  .footer-wrapper .linkstopages ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-wrapper .linkstopages ul li {
    margin-bottom: 0.5em;
  }
  .rectangle-container .info-rectangle .left-side h1,
  .rectangle-container .info-rectangle .right-side h1 {
    font-size: 0.8em;
  }
}

@media (min-width: 640px) and (max-device-width: 360px) {
  .form-wrapper .form-box .left-inside .triangle-separator {
    top: 1em;
  }
}